*.bc
*.o
*.so
*.a
octagons/octtestD
octagons/octtestMPQ
octagons/tests/klee/klee-*
newpolka/tests/klee/klee-*
octagons/tests/libFuzzer/test*
octagons/tests/libFuzzer/crash-*
octagons/tests/libFuzzer/slow-*
octagons/tests/libFuzzer/oom-*
octagons/tests/libFuzzer/out*.txt
octagons/tests/libFuzzer/failing_tests/test*
newpolka/tests/libFuzzer/test*
newpolka/tests/libFuzzer/crash-*
newpolka/tests/libFuzzer/slow-*
newpolka/tests/libFuzzer/oom-*
newpolka/tests/libFuzzer/timeout-*
newpolka/tests/libFuzzer/failing_tests/Rll/test*

